<%- include('partials/header.ejs') -%>
<h1 class="indice-name"><%= indice_name %></h1>
<h3 class="indice-characteristics">OPEN: <%= open %></h3>
<h3 class="indice-characteristics">HIGH: <%= high %></h3>
<h3 class="indice-characteristics">LOW: <%= low %></h3>
<h3 class="indice-characteristics">CURRENT/LTP: <%= current %></h3>
<a href="index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">CONFIRM BUY</a>
<%- include('partials/footer.ejs') -%>
